
<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Purchasing price</th>
      <th>Image</th>
      <th>Catagory</th>
      <th>Shop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.purchasing_price %></td>
        <td><%= image_tag(product.image.to_s, width:'50x', :align=>'middle') %></td>
        <td><%= product.catagory %></td>
        <td><%= product.Shop %></td>
        <td><%= link_to 'Show', shop_product_path(product.shop_id,product) %></td>
        <td><%= link_to 'Edit', edit_shop_product_path(product.shop_id,product) %></td>
        <td><%= link_to 'Destroy', shop_product_path(product.shop_id,product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add to Cart', shop_product_addProductId_path(product.shop_id,product), remote: true, method: :post %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Order',shop_orders_path%>

<%= link_to 'Confirm Order',shop_orders_path, method: :post%>
<br>
<%= link_to 'back', shops_path %>
<%= link_to 'New Product', new_shop_product_path %>
